## Topic:
- Filter operation and or not

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
df_pyspark = spark.read.csv("C:/Users/ASUS/OneDrive/Desktop/DatasetR/Spark_test_02.csv", header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  AA| 31|        10| 30000|
|  BB| 30|         8| 25000|
|  CC| 29|         4| 20000|
|  DD| 24|         3| 20000|
|  EE| 21|         1| 15000|
|  FF| 23|         2| 18000|
+----+---+----------+------+

In [5]:
# Filter operation- Find salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  CC| 29|         4| 20000|
|  DD| 24|         3| 20000|
|  EE| 21|         1| 15000|
|  FF| 23|         2| 18000|
+----+---+----------+------+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  CC| 29|         4| 20000|
|  DD| 24|         3| 20000|
|  EE| 21|         1| 15000|
|  FF| 23|         2| 18000|
+----+---+----------+------+

In [6]:
# Find Name and Age of entry whose salary is less than or equal to 20000
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+----+---+
|Name|age|
+----+---+
|  CC| 29|
|  DD| 24|
|  EE| 21|
|  FF| 23|
+----+---+

In [9]:
# & and | or operation
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  CC| 29|         4| 20000|
|  DD| 24|         3| 20000|
|  EE| 21|         1| 15000|
|  FF| 23|         2| 18000|
+----+---+----------+------+

In [11]:
# tilde inverse filter operation ~
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  AA| 31|        10| 30000|
|  BB| 30|         8| 25000|
+----+---+----------+------+