# Lab Assignment 2
## Learning Objectives
* Demonstrate the use of PySpark RDD for basic distributed computing
* Demonstrate the use of PySpark SQL for structured data analysis

## Due Date
**Midnight, Thursday, October 12, 2023**

## Assignment Submission Instructions
When your file is ready, submit the following deliverables to the Lab Assignmen 2 dropbox:
* Provide the link to your Google Colab notebook in the comments section; please make sure that **you enable the general access to your notebook with links before submission**. Failure to open your notebook will automatically lead to a grade of 0.
* Upload the notebook file with the `.ipynb` suffix to the submission drop box. The uploaded notebook should have the same content as the one shared through the link, include enough documentation of the code, and have all the outputs available.

## Others
As always, feel free to come to our office hours or let us know through email if you face any difficulties/challenges while finishing the assignment. Good luck! For your convenience, I have created the text and code cells you might need for the lab assignment. Please also complete your contact information in the notebook as well.

## Student's Contact Information:
Name: Sarthak Haldar

Email: sarthakhaldar@arizona.edu

## Part 0: Configure Spark and Download Data
In this section, we provide you with the code to install PySpark, configure Spark Context and Spark Session, and download the datasets you are going to use. You can safely run the code in this section. After everything finishes successfully, you will see two datasets, one named `text_reviews.txt` and the other named `user_reviews.csv` located under your Google Colab workspace. Alternatively, you can copy and paste the url links to both datasets in your web browser and download them to your local desktop as well.

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=97410caf1fdd7e2a38ac8ee1ac9879bfd16962bc4c8e445594e89714ea696ca5
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
# create spark context and spark session
from pyspark import SparkConf, SparkContext

conf = SparkConf().setMaster("local").setAppName("MIS584_Lab_Assignment2")
sc = SparkContext(conf = conf)

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MIS584_Lab_Assignment2").getOrCreate()

In [3]:
# download the yelp review dataset
from urllib.request import urlretrieve
urlretrieve('https://drive.google.com/uc?export=download&id=1AV5z7EcHoMabL5yijp_jRwcqzbHNhxGp',
            'user_reviews.csv') ## Save url's file locally.
urlretrieve('https://drive.google.com/uc?export=download&id=1D1BKYITdAsy82UVcbO8bTL7oDY-flHId',
            'text_reviews.txt')

('text_reviews.txt', <http.client.HTTPMessage at 0x7a2891be7c70>)

## Part 1: Practice of PySpark RDD (4 points)
In this part, you need to use the techniques for PySpark RDD to read and process an external file that stores users' text reviews on businesses from Tucson.

Specifically, the external file, `text_reviews.txt`, has two columns separated by tabs (i.e., `\t`). The first column stores each review's associated userr's ID, and the second column stores each review's text inforamtion. Please use the Spark techniques we discussed during the class to finish the following tasks:
1. Read the text file using Spark's `textFile` function into an RDD; extract each line's user ID and review text by creating a customized mapper function and call the `map` transformation on the RDD. (1 point)
2. Use the `distinct` action to return the total number of unique users in the dataset. Print the number. (0.5 point)
3. Get the total number of reviews each user has posted using the `reduceByKey` transformation. Sort the transformed RDD by values (i.e., total number of reviews) in the descending order with the `sortBy` transformation. Print top 10 users who post the largest amount of reviews. (0.75 point)
4. Get the total length of reviews (i.e., the total number of characters) each user has posted using the `reduceByKey` transformation. Sort the transformed RDD by values (i.e., total length of reviews) in the ascending order with the `sortBy` transformation. Print the 10 most quiet users (with the lowest total length of reviews). (0.75 point)

**Hint**: For task 4, you might want to map each `(user_id, review_text)` tuple into `(user_id, len(review_text))`. After that, you can use the `reduceByKey` transformation to aggregate total length of reviews by users.

### Solution for Lab Assignment 2 Part 1
Please replace this sentence with the documentation of your code for Lab Assignment 2 Part 1.

### Read the text file using Spark's textFile function into an RDD; extract each line's user ID and review text by creating a customized mapper function and call the map transformation on the RDD.

In [5]:
"""
This code cell is for Lab Assignment 2 Part

"""

reviews_rdd = 'text_reviews.txt'

In [10]:
pwd

'/content'

In [6]:
 cat text_reviews.txt | head -n 10

CMYCfKoEu0WF9_43zRgr8g	We love this little restaurant! It's not as overrated  and loud compared to other places in Tucson. Sushi is awesome and for the right price.
CMYCfKoEu0WF9_43zRgr8g	We came here for dinner this evening and was absolutely delicious! Truly I was blown away. I ordered a fish special at market price and couldn't believe how yummy it was. Can't recall the name of the fish but it was in the grouper family. It tasted very identical to crab meat.   I had my one year old daughter with and couldn't get her to eat anything, but she loved my fish! Service was friendly. Love it here, but it is pricey! $100+ for two people, however every penny was well spent.
CMYCfKoEu0WF9_43zRgr8g	Just a heads up the owner, Roya, will not give refunds or respond to clients. I paid $500+ to reserve hair and makeup for my bridal party in September.   I was not informed that the business was closed and haven't received any responses regarding to getting a refund. Roya is a total scammer and a disgrace to the beauty industry.  I have a contract and proof regarding their refund policy for weddings, it says 50% of the total was due and a refund is eligible if given 14 days notice. Here I am giving almost 4 months notice. What a huge disappointment. Hopefully she isn't allowed to start a new business just to steal people's money.
CMYCfKoEu0WF9_43zRgr8g	Came in to get my ends cleaned up, FIVE TO SIX inches of my hair was hacked off when I specified no more than two. This place is a girls ultimate nightmare if you want to somewhat keep your length. I tried to be reasonable and give it a few days to get used to it, however NOBODY should ever feel this way after getting their hair done. If you're looking for a professional ladies hair cut, go elsewhere. I'm now investing out of pocket to get extensions. By far the worst hair cut I've ever had in my life.
CMYCfKoEu0WF9_43zRgr8g	love the atmosphere!!! The patio is the best area to sit and relax with a significant other. They've got outdoor stone fireplaces set up and comfortable (modern) furniture to dine/drink on. I'm only giving this place four stars is because their sushi is not very good... they strictly use imitation crab or no meat at all.
CMYCfKoEu0WF9_43zRgr8g	Breakfast is bomb!!! We usually come in an hour before closing since there's a long wait in the a.m.!
aMP9YyQbzcxXTGkWEy1kvg	There is a sushi bar that relocated here on the east side that's pretty good. I've eaten there a couple of times and so far like it. There no more expensive then other sushi bars so you'll know about what to expect when u get there. If u set at bar you'll get soup when u order sushi that's no charge kinda helps fill u up. (And good for you) anyway I'll recommend this sushi .
aMP9YyQbzcxXTGkWEy1kvg	We enjoyed the shrimp fu young. Have had it a couple of times and it's been great every time. Not sure about the other items on menu but will try more of the food over time.
aMP9YyQbzcxXTGkWEy1kvg	The service friendly however the food really missed the mark ( we will not be going back)
aMP9YyQbzcxXTGkWEy1kvg	Yes very nice both the Service and food plus the cost was reasonable . Thank you again kali jo for the service. You will be seeing us again

In [7]:

raw_text = spark.read.text(reviews_rdd)

raw_text.show(10)

+--------------------+
|               value|
+--------------------+
|CMYCfKoEu0WF9_43z...|
|CMYCfKoEu0WF9_43z...|
|CMYCfKoEu0WF9_43z...|
|CMYCfKoEu0WF9_43z...|
|CMYCfKoEu0WF9_43z...|
|CMYCfKoEu0WF9_43z...|
|aMP9YyQbzcxXTGkWE...|
|aMP9YyQbzcxXTGkWE...|
|aMP9YyQbzcxXTGkWE...|
|aMP9YyQbzcxXTGkWE...|
+--------------------+
only showing top 10 rows

In [9]:
reviews_rdd = spark.sparkContext.textFile(reviews_rdd)

In [10]:
# Define a customized mapper function
def extract_user_review(text_reviews):
    user_id, review_text = text_reviews.split("\t")
    return user_id, review_text

# Use the map transformation to apply the mapper function to the RDD
user_review_rdd = reviews_rdd.map(extract_user_review)

In [11]:
# Print the result for verification
#user_review_rdd.collect()
user_review_rdd.take(5)

[('CMYCfKoEu0WF9_43zRgr8g',
  "We love this little restaurant! It's not as overrated  and loud compared to other places in Tucson. Sushi is awesome and for the right price."),
 ('CMYCfKoEu0WF9_43zRgr8g',
  "We came here for dinner this evening and was absolutely delicious! Truly I was blown away. I ordered a fish special at market price and couldn't believe how yummy it was. Can't recall the name of the fish but it was in the grouper family. It tasted very identical to crab meat.   I had my one year old daughter with and couldn't get her to eat anything, but she loved my fish! Service was friendly. Love it here, but it is pricey! $100+ for two people, however every penny was well spent."),
 ('CMYCfKoEu0WF9_43zRgr8g',
  "Just a heads up the owner, Roya, will not give refunds or respond to clients. I paid $500+ to reserve hair and makeup for my bridal party in September.   I was not informed that the business was closed and haven't received any responses regarding to getting a refund. Roya is a total scammer and a disgrace to the beauty industry.  I have a contract and proof regarding their refund policy for weddings, it says 50% of the total was due and a refund is eligible if given 14 days notice. Here I am giving almost 4 months notice. What a huge disappointment. Hopefully she isn't allowed to start a new business just to steal people's money."),
 ('CMYCfKoEu0WF9_43zRgr8g',
  "Came in to get my ends cleaned up, FIVE TO SIX inches of my hair was hacked off when I specified no more than two. This place is a girls ultimate nightmare if you want to somewhat keep your length. I tried to be reasonable and give it a few days to get used to it, however NOBODY should ever feel this way after getting their hair done. If you're looking for a professional ladies hair cut, go elsewhere. I'm now investing out of pocket to get extensions. By far the worst hair cut I've ever had in my life."),
 ('CMYCfKoEu0WF9_43zRgr8g',
  "love the atmosphere!!! The patio is the best area to sit and relax with a significant other. They've got outdoor stone fireplaces set up and comfortable (modern) furniture to dine/drink on. I'm only giving this place four stars is because their sushi is not very good... they strictly use imitation crab or no meat at all.")]

### Use the distinct action to return the total number of unique users in the dataset. Print the number.

In [12]:
user_review_rdd.distinct().count()

1680

### Get the total number of reviews each user has posted using the `reduceByKey` transformation. Sort the transformed RDD by values (i.e., total number of reviews) in the descending order with the `sortBy` transformation. Print top 10 users who post the largest amount of reviews.

In [13]:
# Get the total number of reviews each user has posted
user_review_counts_rdd = user_review_rdd.map(lambda x: (x[0], 1)).reduceByKey(lambda a, b: a + b)

In [14]:
# Sort the transformed RDD by values (i.e., total number of reviews) in the descending order
sorted_user_review_counts_rdd = user_review_counts_rdd.sortBy(lambda x: x[1], False)

In [15]:
# Print the top 10 users who post the largest amount of reviews
top_10_user_review_counts = sorted_user_review_counts_rdd.take(10)

for user_id, review_count in top_10_user_review_counts:
    print(f"User ID: {user_id}, Review count: {review_count}")

User ID: r0pPV4-xj1sD_uGXVYxOaw, Review count: 20
User ID: jn_dHhsCj2scx1951CKutA, Review count: 20
User ID: Azxo0oP96tot8QGruS4XZw, Review count: 19
User ID: Gs4OijDfrHzAbocJ-YYGog, Review count: 18
User ID: uGbRVMSgnWKJN4lxLAABQw, Review count: 18
User ID: 8OHkSxQRVfmMu5uQATi83g, Review count: 18
User ID: nl8HXOlCwIJ86pYavbi5UQ, Review count: 17
User ID: oiZUTKnsIilXwyN-HCK55w, Review count: 17
User ID: LPovj-Wa7xXoJKM3qRy1bA, Review count: 16
User ID: LdRkF_b7pvkjrmy3ZKEiig, Review count: 16

### Get the total length of reviews (i.e., the total number of characters) each user has posted using the reduceByKey transformation. Sort the transformed RDD by values (i.e., total length of reviews) in the ascending order with the sortBy transformation. Print the 10 most quiet users (with the lowest total length of reviews)

In [17]:
# Get the total length of reviews (i.e., the total number of characters) each user has posted
user_review_lengths_rdd = user_review_rdd.map(lambda x: (x[0], len(x[1]))) \
    .reduceByKey(lambda a, b: a + b)


#This will create a new RDD, user_review_lengths_rdd, that contains the user ID and the total length of reviews for each user.

In [18]:
# Sort the transformed RDD by values (i.e., total length of reviews) in the ascending order
sorted_user_review_lengths_rdd = user_review_lengths_rdd.sortBy(lambda x: x[1], True)

In [19]:
# Print the 10 most quiet users (with the lowest total length of reviews)
top_10_quietest_users = sorted_user_review_lengths_rdd.take(10)

for user_id, review_length in top_10_quietest_users:
    print(f"User ID: {user_id}, Review length: {review_length}")

User ID: r4K9hqVUpbLnmzb7VWnPrg, Review length: 592
User ID: _iYBsrJUCYQWxAPRFGAPZg, Review length: 667
User ID: 1trMVIHVfsaBRQpx8GW-XQ, Review length: 728
User ID: iRpe3fQw9pMJmxEMxiVjCA, Review length: 767
User ID: Hwn_c-F7rmus3ukJNp0Yug, Review length: 781
User ID: TJK6tVDQL2Tx9OkRGDVOAw, Review length: 826
User ID: MV4o5u9FfQhdKNbsat7JhQ, Review length: 884
User ID: jF6vY7rlJsVQ_XpkL0fbxQ, Review length: 1048
User ID: vedGQ3Y90omc80JARWGqOQ, Review length: 1082
User ID: oe_FHIBRrrKey1YqsvCTcQ, Review length: 1127

## Part 2: Practice of PySpark SQL (4 points)
In this part, you need to use the techniques for Spark SQL  to read and process an external file that stores users' individual reviews on businesses from Tucson.

Specifically, the external file, `user_reviews.csv`, has six attributes that are listed below.
* `review_id`: a string-typed attribute indicating a review's ID
* `user_id`: a string-typed attribute indicating the reviewer's ID
* `business_id`: a string-typed attribute indicating the ID of the business that is reviewed
* `review_stars`: a float-typed attribute indicating the review's star rating
* `useful`: an integer-typed attribute indicating how many useful votes the review has received
* `review_text`: a string-typed attribute storing the review's text

Please use the Spark techniques we discussed during the class to finish the following tasks:
1. Read the csv file using Spark SQL's `read.csv` function into a Spark DataFrame; customize the schema based on the information provided above when reading the file; print the DataFrame's schema after reading the data; show the first 20 rows. (1 point)
2. For some unknown reasons, there are some reviews whose `review_id` **OR** `business_id` attribute is missing. Fill the missing values from the DataFrame with the string "missing" using the `fillna` transformation and drop the missing values from the DataFrame. Print how many rows are left after removing rows with missing values. (0.75 point)
3. Create a new column named `review_text_length` that stores the length of the review using the `withColumn` transformation. Notice that you need to use the `length` function provided by Spark SQL's functions library. See the [official document](https://spark.apache.org/docs/3.1.3/api/python/reference/api/pyspark.sql.functions.length.html) for how to use the function. (0.75 point)
4. Using the `groupby` transformation, group the DataFrame by `user_id` so as to calculate the following values for each user. Round each value to 2 decimals and choose a meaningful alias for each value. Sort the grouped dataframe by total useful votes (in descending order) and average star rating (in ascending order); show the first 20 rows (1.5 point).
    * average star rating the user gives
    * average review length the user gives
    * total useful votes the user has received

**Hint**: For task 2, you might want to filter the DataFrame so that only rows with non-missing `review_id` and `business_id` attributes are kept.

### Solution for Lab Assignment 2 Part 2
Please replace this sentence with the documentation of your code for Lab Assignment 2 Part 2.

In [29]:
"""
This code cell is for Lab Assignment 2 Part 2
"""

user_rev = 'user_reviews.csv'

In [30]:
 cat user_reviews.csv | head -n 10

review_id,user_id,business_id,review_stars,useful,review_text
FTcRb7TUjE-K6spSjs-0TA,CMYCfKoEu0WF9_43zRgr8g,5Ce3lZksYVkCbrihqylVHQ,5.0,2,We love this little restaurant! It's not as overrated  and loud compared to other places in Tucson. Sushi is awesome and for the right price.
oyxS126nYDZOL0qwPa8how,CMYCfKoEu0WF9_43zRgr8g,CA5BOxKRDPGJgdUQ8OUOpw,5.0,1,"We came here for dinner this evening and was absolutely delicious! Truly I was blown away. I ordered a fish special at market price and couldn't believe how yummy it was. Can't recall the name of the fish but it was in the grouper family. It tasted very identical to crab meat.   I had my one year old daughter with and couldn't get her to eat anything, but she loved my fish! Service was friendly. Love it here, but it is pricey! $100+ for two people, however every penny was well spent."
KbFlOy2PN2dXBjdk4mpz8g,CMYCfKoEu0WF9_43zRgr8g,1MAQQhmUNU0uzHw3KhPczg,1.0,4,"Just a heads up the owner, Roya, will not give refunds or respond to clients. I paid $500+ to reserve hair and makeup for my bridal party in September.   I was not informed that the business was closed and haven't received any responses regarding to getting a refund. Roya is a total scammer and a disgrace to the beauty industry.  I have a contract and proof regarding their refund policy for weddings, it says 50% of the total was due and a refund is eligible if given 14 days notice. Here I am giving almost 4 months notice. What a huge disappointment. Hopefully she isn't allowed to start a new business just to steal people's money."
mslt0F7LpdBMQmKGkn-bAA,CMYCfKoEu0WF9_43zRgr8g,QXB4E78FXn3eotalXUG0bQ,1.0,9,"Came in to get my ends cleaned up, FIVE TO SIX inches of my hair was hacked off when I specified no more than two. This place is a girls ultimate nightmare if you want to somewhat keep your length. I tried to be reasonable and give it a few days to get used to it, however NOBODY should ever feel this way after getting their hair done. If you're looking for a professional ladies hair cut, go elsewhere. I'm now investing out of pocket to get extensions. By far the worst hair cut I've ever had in my life."
5SGsoqgx8CBbw6bcrsi0NQ,CMYCfKoEu0WF9_43zRgr8g,M983OPfVRnwvG7zEOzykCA,4.0,0,love the atmosphere!!! The patio is the best area to sit and relax with a significant other. They've got outdoor stone fireplaces set up and comfortable (modern) furniture to dine/drink on. I'm only giving this place four stars is because their sushi is not very good... they strictly use imitation crab or no meat at all.
tBfTKrhnuTB4pmjyXVHGjw,CMYCfKoEu0WF9_43zRgr8g,J-Go00lYW4f4a3lLLtoh_A,5.0,0,Breakfast is bomb!!! We usually come in an hour before closing since there's a long wait in the a.m.!
Rmv9zoXR5ULycbak7UTM2w,aMP9YyQbzcxXTGkWEy1kvg,5Ce3lZksYVkCbrihqylVHQ,5.0,0,There is a sushi bar that relocated here on the east side that's pretty good. I've eaten there a couple of times and so far like it. There no more expensive then other sushi bars so you'll know about what to expect when u get there. If u set at bar you'll get soup when u order sushi that's no charge kinda helps fill u up. (And good for you) anyway I'll recommend this sushi .
,aMP9YyQbzcxXTGkWEy1kvg,LDkD5R5N7CG9yCD0YSLMZA,4.0,0,We enjoyed the shrimp fu young. Have had it a couple of times and it's been great every time. Not sure about the other items on menu but will try more of the food over time.
DLu-Uw9zf95a34wntChWxA,aMP9YyQbzcxXTGkWEy1kvg,,1.0,2,The service friendly however the food really missed the mark ( we will not be going back)

In [31]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Read the CSV file into a Spark DataFrame
reviews_df = spark.read.csv('user_reviews.csv', header=True, schema='review_id STRING, user_id STRING, business_id STRING, review_stars INT, useful INT, review_text STRING')

# Print the DataFrame's schema
reviews_df.printSchema()

# Show the first 20 rows
reviews_df.show(20)

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- review_stars: integer (nullable = true)
 |-- useful: integer (nullable = true)
 |-- review_text: string (nullable = true)

+--------------------+--------------------+--------------------+------------+------+--------------------+
|           review_id|             user_id|         business_id|review_stars|useful|         review_text|
+--------------------+--------------------+--------------------+------------+------+--------------------+
|FTcRb7TUjE-K6spSj...|CMYCfKoEu0WF9_43z...|5Ce3lZksYVkCbrihq...|        NULL|     2|We love this litt...|
|oyxS126nYDZOL0qwP...|CMYCfKoEu0WF9_43z...|CA5BOxKRDPGJgdUQ8...|        NULL|     1|We came here for ...|
|KbFlOy2PN2dXBjdk4...|CMYCfKoEu0WF9_43z...|1MAQQhmUNU0uzHw3K...|        NULL|     4|Just a heads up t...|
|mslt0F7LpdBMQmKGk...|CMYCfKoEu0WF9_43z...|QXB4E78FXn3eotalX...|        NULL|     9|Came in to get my...|
|5SGsoqgx8CBbw6bcr...|CMYCfKoEu0WF9_43z...|M983OPfVRnwvG7zEO...|        NULL|     0|love the atmosphe...|
|tBfTKrhnuTB4pmjyX...|CMYCfKoEu0WF9_43z...|J-Go00lYW4f4a3lLL...|        NULL|     0|Breakfast is bomb...|
|Rmv9zoXR5ULycbak7...|aMP9YyQbzcxXTGkWE...|5Ce3lZksYVkCbrihq...|        NULL|     0|There is a sushi ...|
|                NULL|aMP9YyQbzcxXTGkWE...|LDkD5R5N7CG9yCD0Y...|        NULL|     0|We enjoyed the sh...|
|DLu-Uw9zf95a34wnt...|aMP9YyQbzcxXTGkWE...|                NULL|        NULL|     2|The service frien...|
|MsZfSop5M_0l56yEK...|aMP9YyQbzcxXTGkWE...|RSrBPqSze2HJkx5DZ...|        NULL|     0|Yes very nice bot...|
|HPXLtMYWz5x6Y0VeX...|aMP9YyQbzcxXTGkWE...|yjcIKn2T2QY_DjXWA...|        NULL|     0|going there for a...|
|ZI_5XZW-hEXOy_Nwo...|wl7VR72-u8ADycZAw...|9xm4aIAT_xwRoTxc0...|        NULL|     1|We just stayed he...|
|Q3QeaElCPucDWOeih...|wl7VR72-u8ADycZAw...|lhsQkb5nhf-Kd5Ovg...|        NULL|     1|We had an excelle...|
|M1XotRzFPNtiSjAPL...|wl7VR72-u8ADycZAw...|733MFsA_zzEY9RzKW...|        NULL|     1|This is a beautif...|
|_8otZ5jX3ixRd_ALK...|wl7VR72-u8ADycZAw...|-y587EqqV-Pn6J631...|        NULL|     0|This convenience ...|
|AbgdeunKbImlWumC-...|wl7VR72-u8ADycZAw...|F9BES1HFD3BkIudUe...|        NULL|     1|We visited here t...|
|DGcJoa40m_QnZJVjL...|wl7VR72-u8ADycZAw...|PTnahBSnLT1jeok9t...|        NULL|     0|We were in town o...|
|th9zfwPTk3S1IwvCY...|wl7VR72-u8ADycZAw...|ZXaePy9NYj3QRge8y...|        NULL|     0|As others have sa...|
|RmvjTKjErJi-AbsRO...|wl7VR72-u8ADycZAw...|DQqW9FqDet0EF-FWz...|        NULL|     1|"This trail syste...|
|U5jYKJ7ng9v8vrZro...|wl7VR72-u8ADycZAw...|qvlcna5bw8Y2C3s1L...|        NULL|     0|What is not to lo...|
+--------------------+--------------------+--------------------+------------+------+--------------------+
only showing top 20 rows

In [32]:
# Print the number of rows in the DataFrame
print(reviews_df.count())

1682

In [33]:
# Print the number of missing values in each column of the DataFrame
# The count row in the output shows the number of non-missing values in each column
reviews_df.describe().show()

+-------+--------------------+--------------------+--------------------+------------+------------------+-------------------------------------+
|summary|           review_id|             user_id|         business_id|review_stars|            useful|                          review_text|
+-------+--------------------+--------------------+--------------------+------------+------------------+-------------------------------------+
|  count|                1582|                1682|                1582|           0|              1682|                                 1682|
|   mean|                NULL|                NULL|                NULL|        NULL|1.1557669441141498|                                 NULL|
| stddev|                NULL|                NULL|                NULL|        NULL|2.2112132519486116|                                 NULL|
|    min|--aiULfkTxB8FYsHk...|00Cz_vdInMHpTRjqb...|-3hzdvAPJKolEru6x...|        NULL|                 0|                 """Homemade Desse...|
|    max|zyW75RatLg5S0SsDi...|zRCCmHmS1dshRUAcL...|zwrgCMuZyFX46mL3p...|        NULL|                35|村里第一家火锅店，可喜可贺，前来捧...|
+-------+--------------------+--------------------+--------------------+------------+------------------+-------------------------------------+

review_stars has all null values

For some unknown reasons, there are some reviews whose review_id OR business_id attribute is missing. Fill the missing values from the DataFrame with the string "missing" using the fillna transformation and drop the missing values from the DataFrame. Print how many rows are left after removing rows with missing values.

In [34]:
# Fill the missing values in the review_id and business_id columns with the string "missing"
reviews_df = reviews_df.fillna({'review_id': 'missing', 'business_id': 'missing'})

# Drop the review_stars column from the DataFrame
reviews_df = reviews_df.drop('review_stars')

# Drop the rows with missing values
reviews_df = reviews_df.dropna()

# Print the number of rows left after removing rows with missing values
print(reviews_df.count())

1682

Create a new column named review_text_length that stores the length of the review using the with Column transformation. Notice that you need to use the length function provided by Spark SQL's functions library

In [36]:
# Create a new column named review_text_length that stores the length of the review
from pyspark.sql.functions import length
reviews_df = reviews_df.withColumn('review_text_length', length(reviews_df['review_text']))

In [37]:
# Show the first 20 rows
reviews_df.show(20)

+--------------------+--------------------+--------------------+------+--------------------+------------------+
|           review_id|             user_id|         business_id|useful|         review_text|review_text_length|
+--------------------+--------------------+--------------------+------+--------------------+------------------+
|FTcRb7TUjE-K6spSj...|CMYCfKoEu0WF9_43z...|5Ce3lZksYVkCbrihq...|     2|We love this litt...|               141|
|oyxS126nYDZOL0qwP...|CMYCfKoEu0WF9_43z...|CA5BOxKRDPGJgdUQ8...|     1|We came here for ...|               488|
|KbFlOy2PN2dXBjdk4...|CMYCfKoEu0WF9_43z...|1MAQQhmUNU0uzHw3K...|     4|Just a heads up t...|               637|
|mslt0F7LpdBMQmKGk...|CMYCfKoEu0WF9_43z...|QXB4E78FXn3eotalX...|     9|Came in to get my...|               507|
|5SGsoqgx8CBbw6bcr...|CMYCfKoEu0WF9_43z...|M983OPfVRnwvG7zEO...|     0|love the atmosphe...|               322|
|tBfTKrhnuTB4pmjyX...|CMYCfKoEu0WF9_43z...|J-Go00lYW4f4a3lLL...|     0|Breakfast is bomb...|               101|
|Rmv9zoXR5ULycbak7...|aMP9YyQbzcxXTGkWE...|5Ce3lZksYVkCbrihq...|     0|There is a sushi ...|               377|
|             missing|aMP9YyQbzcxXTGkWE...|LDkD5R5N7CG9yCD0Y...|     0|We enjoyed the sh...|               173|
|DLu-Uw9zf95a34wnt...|aMP9YyQbzcxXTGkWE...|             missing|     2|The service frien...|                89|
|MsZfSop5M_0l56yEK...|aMP9YyQbzcxXTGkWE...|RSrBPqSze2HJkx5DZ...|     0|Yes very nice bot...|               139|
|HPXLtMYWz5x6Y0VeX...|aMP9YyQbzcxXTGkWE...|yjcIKn2T2QY_DjXWA...|     0|going there for a...|               582|
|ZI_5XZW-hEXOy_Nwo...|wl7VR72-u8ADycZAw...|9xm4aIAT_xwRoTxc0...|     1|We just stayed he...|              1353|
|Q3QeaElCPucDWOeih...|wl7VR72-u8ADycZAw...|lhsQkb5nhf-Kd5Ovg...|     1|We had an excelle...|               508|
|M1XotRzFPNtiSjAPL...|wl7VR72-u8ADycZAw...|733MFsA_zzEY9RzKW...|     1|This is a beautif...|               705|
|_8otZ5jX3ixRd_ALK...|wl7VR72-u8ADycZAw...|-y587EqqV-Pn6J631...|     0|This convenience ...|               344|
|AbgdeunKbImlWumC-...|wl7VR72-u8ADycZAw...|F9BES1HFD3BkIudUe...|     1|We visited here t...|              1464|
|DGcJoa40m_QnZJVjL...|wl7VR72-u8ADycZAw...|PTnahBSnLT1jeok9t...|     0|We were in town o...|               940|
|th9zfwPTk3S1IwvCY...|wl7VR72-u8ADycZAw...|ZXaePy9NYj3QRge8y...|     0|As others have sa...|              1135|
|RmvjTKjErJi-AbsRO...|wl7VR72-u8ADycZAw...|DQqW9FqDet0EF-FWz...|     1|"This trail syste...|              1158|
|U5jYKJ7ng9v8vrZro...|wl7VR72-u8ADycZAw...|qvlcna5bw8Y2C3s1L...|     0|What is not to lo...|               479|
+--------------------+--------------------+--------------------+------+--------------------+------------------+
only showing top 20 rows

Using the groupby transformation, group the DataFrame by user_id so as to calculate the following values for each user. Round each value to 2 decimals and choose a meaningful alias for each value. Sort the grouped dataframe by total useful votes (in descending order) and average star rating (in ascending order); show the first 20 rows.

average star rating the user gives

average review length the user gives

total useful votes the user has received

In [40]:
from pyspark.sql.functions import avg, sum

In [41]:
# Group the DataFrame by user_id
reviews_df_grouped = reviews_df.groupBy('user_id')

In [47]:
# Calculate the average star rating, average review length, and total useful votes for each user
reviews_df_grouped = reviews_df_grouped.agg(
#    avg('review_stars').alias('average_star_rating'),
    avg('review_text_length').alias('average_review_length'),
    sum('useful').alias('total_useful_votes')
)

In [48]:
# Sort the grouped DataFrame by total useful votes (in descending order) and average star rating (in ascending order)
reviews_df_grouped = reviews_df_grouped.orderBy('total_useful_votes', ascending=False)#.orderBy('average_star_rating', ascending=True)

# Show the first 20 rows of the grouped DataFrame
reviews_df_grouped.show(20)

+--------------------+---------------------+------------------+
|             user_id|average_review_length|total_useful_votes|
+--------------------+---------------------+------------------+
|Vdy219QdKTKmzTSy1...|   363.54545454545456|                76|
|59v5-XHpKQS48vRLW...|                619.4|                65|
|oiZUTKnsIilXwyN-H...|    806.7647058823529|                47|
|IpKpHOGCqLWibbiZr...|    528.3571428571429|                39|
|cBbVbcqUWrgYLP-06...|               1399.8|                38|
|lbMsbFedMjgjhWIZj...|    652.2857142857143|                38|
|LPovj-Wa7xXoJKM3q...|              571.625|                37|
|uyVtmvKr7Hs9niun0...|               922.75|                37|
|wqeLjhyY3d6ac2C8d...|               1327.7|                36|
|sDGGzhizsBdTFVW3r...|               954.75|                32|
|Gs4OijDfrHzAbocJ-...|    836.0555555555555|                31|
|OztI_L9xtMIrj-kPz...|   482.22222222222223|                28|
|liH8jTV4irA0JEuHW...|   371.85714285714283|                25|
|j5ezF5mEGpnDwdTmA...|               253.75|                25|
|u28oJcZAtKiCECxVz...|                473.8|                25|
|uGbRVMSgnWKJN4lxL...|    533.0555555555555|                24|
|4yXxcCNC6HOCSTONn...|    341.7142857142857|                24|
|rejYbLHPQT9M9Ujvv...|    787.6666666666666|                24|
|u6njf5K-4W8w7p-Mp...|                857.2|                22|
|x_Xcg1N_mqby6Y0U9...|                607.7|                22|
+--------------------+---------------------+------------------+
only showing top 20 rows